<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if(data) { %>
      <% for(var d of data) { %>
        <p><a href='<%= d.url %>'><%= d.text %></a></p>
      <% } %>
    <% } else { %>
      <p>Data is null</p>
    <% } %>
    <a href='/message/create'>message create</a>
  </body>
</html>
