<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="card blue-grey">
      <div class="card-content white-text">
        <span class="card-title">SIDE BAR</span>
      </div>
      <div class="card-action">
        <a href='/'>message list</a>
        <br>
        <a href='/message/create'>message create</a>
      </div>
    </div>
  </body>
</html>
